{% extends "databank\basepage.html" %}
{% block content %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'study_list' %}">Studies</a>
        <a class="nav-item active nav-link" href="">Participants</a>
      </div>
    </div>
  </nav>
</header>
</br>
<div class="container-fluid">
  <ul style="list-style-type:none">
    {% for participant in participant_list %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ participant.participant_identifier }}</h5>
        <a href="{% url 'results' study_id participant.id %}" class="card-link">Results</a>
        <a href="{% url 'edit_participant' study_id participant.id %}" class="card-link">Edit</a>
      </div>
    </div>
    {% endfor %}
  </br>
<a class="btn btn-primary" href="{% url 'add_participant' study_id %}" role="button">Add Participant</a>
</ul>
</div>
{% endblock %}
