<!DOCTYPE html>
<html>
<head>
  <title>Databank Study List</title>
</head>
<body>
  <h1>Study List</h1>
  <ul style="list-style-type:none">
    {% for study in study_list %}
    <li>
      {{ study.study_name }}
    </li>
    <li>
      {{ study.identifier }} -
      {{ study.created_date }}
    </li>
    <br>
    <a href="{% url 'participant_list' study.id %}">Participant</a>
    &nbsp
    &nbsp
    <a href="{% url 'edit_study' study.id %}">Edit</a>
  </br>
  <br>
</br>
{% endfor %}
<form action="{% url 'add_study' %}">
  <input type="submit" value="Click here to add a Study" />
</form>
</br>
<form action="{% url 'homepage' %}">
  <input type="submit" value="Back to the Homepage" />
</form>
</ul>
</body>
</html>
